* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Maven Pro', sans-serif;
}

.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Maven Pro', sans-serif;
}

header {
    min-height: 100px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background-color: #2E549E;
    font-family: 'Maven Pro', sans-serif;
    font-weight: 700;
    font-size: 25px;
    text-decoration: none;
}

header a {
    color: #FFFFFF;
    text-decoration: none;
    text-shadow: 0px 0px black;
    transition: 0.5s;
    margin: 20px;
}

header a:hover {
    transform: translate(-2.5px, -2.5px);
    text-shadow: 2.5px 2.5px black;
}

/* LOGIN PAGE */

.login-container {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-family: 'Maven Pro', sans-serif;
    background-color: #FFFFFF;
    background-image: url("../src/assets/images/background.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.login-container h1 {
    width: 60%;
    text-align: center;
    font-size: 80px;
    color: #FFFFFF;
    margin-bottom: 25px;
}

.login-container img {
    width: 400px;
}

.login-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #2E549E;
    padding: 30px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-form-container h2 {
    font-size: 30px;
}

.login-form input {
    width: 200px;
    margin-top: 30px;
    padding: 10px;
    border-radius: 2.5px;
    border: none;
    outline: none;
}

.login-form button {
    margin-top: 30px;
    padding: 10px;
    width: 100%;
    border-radius: 2.5px;
    background-color: #FFFFFF;
    color: #2E549E;
    font-size: 15px;
    cursor: pointer;
    border: none;
    transition: 0.3s;
    box-sizing: border-box;
}

.login-form button:hover {
    background-color: #2E549E;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
}

/* REGISTER PAGE */



.register-container {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Maven Pro', sans-serif;
    background-color: #FFFFFF;
    background-image: url("../src/assets/images/background.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.register-form-container h2 {
    font-size: 30px;
}

.register-form input {
    width: 200px;
    margin-top: 30px;
    padding: 10px;
    border-radius: 2.5px;
}

.register-form button {
    margin-top: 30px;
    padding: 10px;
    width: 100%;
    border-radius: 2.5px;
    background-color: #FFFFFF;
    color: #2E549E;
    font-size: 15px;
    cursor: pointer;
}

.register-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #2E549E;
    padding: 30px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}


/* DASHBOARD PAGE */

.dashboard-container {
    padding: 100px;
    width: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.unit-section {
    display: flex;
}

.unit-link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 300px;
    width: 300px;
    padding: 50px;
    margin: 40px;
    background-color: #2E549E;
    background: linear-gradient(to bottom right, #2E549E 40%, #FFA500);
    color: #FFFFFF;
    border-radius: 0px;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
    transition: 0.5s;
}

.unit-link:hover {
    background: linear-gradient(to bottom right, #2E549E 40%, #B22222);

}

.unit-link:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* MESSAGE COMPONENT */

.message-container {
    width: 200px;
    height: 100px;
    background-color: #B22222;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #2E549E;
    color: #FFFFFF;
    padding: 20px;
    margin-bottom: 40px;
    border-radius: 10px;
}

.message-container button {
    margin-left: 20px;
    color: #FFFFFF;
    background-color: #2E549E;
    font-size: 20px;
}

/* UNIT PAGE */

.unit-container {
    flex: 1;
    width: 100%;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Maven Pro', sans-serif;
    background-color: #FFFFFF;
}

.unit-score {
    margin-bottom: 100px;
    padding: 40px;
    border-radius: 100px;
    color: #FFFFFF;
    background: linear-gradient(to bottom right, #FFA500, #FFD700);
}

.unit-reset-button {
    margin-bottom: 100px;
    padding: 40px;
    border-radius: 100px;
    color: #FFFFFF;
    background: linear-gradient(to bottom right, #FFA500, #FFD700);
    cursor: pointer;    
}

.unit-article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 800px;
    margin: 100px;
    padding: 20px;
    border: 5px solid #2E549E;    
}

.unit-article h1 {
    width: 100%;
    margin-bottom: 20px;
}

.unit-article p {
    margin-bottom: 20px;
}

.question-container {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}

.question-title {
    width: 100%;
}

.question-content {
    width: 100%;
    margin-bottom: 20px;
}

.question-answers {
    display: flex;
    flex-direction: column;
}

.question-answer {
    width: 800px;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #2E549E;
    opacity: 0.9;
    color: #FFFFFF;
    border-radius: 2.5px;
    cursor: pointer;
    transition: 0.5s;    
}

.answer-correct {
    background-color: #51A151;
}

.answer-incorrect {
    background-color: #B22222;
}

.progress-bar-container {
    position: fixed;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #2E549E;
    height: 10px;
    width: 100%;
    margin-bottom: 40px;
    z-index: 1;
}

.progress-bar {
    height: 10px;
    background: linear-gradient(to right, #FFA500, #FFD700);
    width: 0;
    transition: width 0.5s ease-in-out;
}

.article-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 800px;
    margin: 100px;
    padding: 20px;
    border: 5px solid #2E549E;
}

.article-title {
    width: 100%;
    margin-bottom: 20px;
}